
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

main {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

main > article {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 100vh;
  left: 0;
  opacity: 0;
}
